  
.container{
  background-color:lightgray;
}

.flexRowContent--minicartFooter{
  color: white;    
}

.flexRow--menu-row{    
  margin:auto;
  text-align:center;
  width:100%;
  margin-top: .5rem;
}

.flexRowContent--menu-row{
  margin: 0 auto;
  width: 99%;
  margin-left:auto;
  margin-right: auto;
  
}

  

.styledLinkContent{
  color: white;
}

.menuContainerList{
  
  text-align: center;
  width: 100%;
}

.styledLinkContainer{
  text-align: center;
}